extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    form(action='/sendTextMessage', method='post')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='destination') destination
             input(id='destinationNumber',type='text',value='2064990797',placeholder='',name='destinationNumber')
        div(data-role='fieldcontain')
              fieldset(data-type='vertical', data-role='controlgroup')
               label(for='message') Url
               input(id='message',type='text', name='message')
         div(data-role='fieldcontain')
              input(type='submit',value='Send!',data-transition='fade', data-theme='controlgroup')